title #{title}
meta(charset='utf8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js')
style(type='text/css')
  | body { padding-top: 60px; }